#myBody {
    background-color: gray;
    
}
#carousel {
    width: 400px;
    height: 400px;    
    overflow: hidden;    
}
#carousel ul {
    width: 2000px;
    margin-left: -400px;
    padding: 0;
}
#carousel ul li {
    width: 400px;
    height: 300px;
    list-style: none;
    float: left;
}
#carousel img {
    height: 400px;
    width: 400px;
}
#left, #right {
    width: 100px;
    height: 50px;
    background: darkblue;
    color: white;
    border-radius: 12px;
    border: 0;
}